# Home task: pandas 

## Question 1

- Load the energy data from the file [Energy Indicators.xls](http://unstats.un.org/unsd/environment/excel_file_tables/2013/Energy%20Indicators.xls).
It is a list of indicators of energy supply and renewable electricity production from the United Nations for the year 2013.


- It should be put into a DataFrame with the variable name of "energy"


- Make sure to exclude the footer and header information from the datafile.


- The first two columns are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:<br>
`['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']`


- Convert `Energy Supply` to gigajoules (there are 1,000,000 gigajoules in a petajoule).


- For all countries which have missing data (e.g. data with `...`) make sure this is reflected as `np.NaN` values.


- Rename the following list of countries (for use in later questions):
    - `Republic of Korea`: `South Korea`,
    - `United States of America`: `United States`,
    - `United Kingdom of Great Britain and Northern Ireland`: `United Kingdom`,
    - `China, Hong Kong Special Administrative Region`: `Hong Kong`


- There are also several countries with numbers and/or parenthesis in their name. Be sure to remove these, e.g.:
    - `Bolivia (Plurinational State of)` should be `Bolivia`,
    - `Switzerland17` should be `Switzerland`.


- Next, load the GDP data from the file ["world_bank.csv"](http://data.worldbank.org/indicator/NY.GDP.MKTP.CD). 
It is a csv containing countries' GDP from 1960 to 2015 from World Bank. Call this DataFrame "GDP"


- Make sure to skip the header, and rename the following list of countries:
    - `Korea, Rep.`: `South Korea`,
    - `Iran, Islamic Rep.`: `Iran`,
    - `Hong Kong SAR, China`: `Hong Kong`


- Finally, load the "Sciamgo Journal and Country Rank data for [Energy Engineering and Power Technology"](http://www.scimagojr.com/countryrank.php?category=2102). It ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame "ScimEn"


- Join the three datasets: Energy, GDP, and ScimEn into a new dataset (using the intersection of country names). Use only the 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15).


- The index of this DataFrame should be the name of the country, and the columns should be<br>
`['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', 2012', '2013', '2014', '2015']`

Function "answer_one" should return the resulted DataFrame (20 columns and 15 entries)

In [17]:
import pandas as pd
import numpy as np

def answer_one():
    # Step 1: Load "Energy Indicators.xls" into a DataFrame
    energy = pd.read_excel('C:\\Users\\мі\\OneDrive\\Документи\\пітон херня\\Lecture 3\\Energy Indicators.xls', skiprows=17, skipfooter=38, usecols="C:F")

    # Step 2: Remove the header and footer rows
    energy = energy[1:]

    # Step 3: Rename columns
    energy.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']

    # Step 4: Convert "Energy Supply" to gigajoules
    energy['Energy Supply'] *= 1000000

    # Step 5: Replace missing data with NaN
    energy = energy.replace('...', np.NaN)

    # Step 6: Rename certain countries
    energy['Country'] = energy['Country'].replace({
        "Republic of Korea": "South Korea",
        "United States of America": "United States",
        "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
        "China, Hong Kong Special Administrative Region": "Hong Kong"
    })

    # Step 7: Remove numbers and parentheses from country names
    energy['Country'] = energy['Country'].str.replace(r" \(.*\)|[0-9]+", "")

    # Step 8: Load "world_bank.csv" into a DataFrame
    GDP = pd.read_csv('C:\\Users\\мі\\OneDrive\\Документи\\пітон херня\\Lecture 3\\API_NY.GDP.MKTP.CD_DS2_en_csv_v2_5871885.csv', skiprows=4)

    # Step 9: Rename certain countries
    GDP['Country Name'] = GDP['Country Name'].replace({
        "Korea, Rep.": "South Korea",
        "Iran, Islamic Rep.": "Iran",
        "Hong Kong SAR, China": "Hong Kong"
    })

    # Step 10: Load "scimagojr-3.xlsx" into a DataFrame
    ScimEn = pd.read_excel('C:\\Users\\мі\\OneDrive\\Документи\\пітон херня\\Lecture 3\\scimagojr.xlsx')

    # Step 11: Merge the three DataFrames
    df = pd.merge(ScimEn, energy, how='inner', left_on='Country', right_on='Country')
    df = pd.merge(df, GDP, how='inner', left_on='Country', right_on='Country Name')

    # Select the relevant columns and rows
    columns = ['Country', 'Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']
    df = df[columns]

    # Set the 'Country' column as the index
    df = df.set_index('Country')

    # Select only the top 15 countries by Scimagojr 'Rank'
    df = df[df['Rank'] <= 15]

    return df

# Call the function to get the result
result = answer_one()
result

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
India,3,55082,53775,463165,162944,8.41,181,33195000000,26.0,14.969080,9.402599e+11,1.216736e+12,1.198895e+12,1.341888e+12,1.675616e+12,1.823052e+12,1.827638e+12,1.856721e+12,2.039126e+12,2.103588e+12
Germany,6,38739,38013,433148,95145,11.18,196,13261000000,165.0,17.901530,2.994704e+12,3.425578e+12,3.745264e+12,3.411261e+12,3.399668e+12,3.749315e+12,3.527143e+12,3.733805e+12,3.889093e+12,3.357586e+12
Russian Federation,7,36735,36560,115938,54993,3.16,90,30709000000,214.0,17.288680,9.899321e+11,1.299703e+12,1.660848e+12,1.222646e+12,1.524917e+12,2.045923e+12,2.208294e+12,2.292470e+12,2.059242e+12,1.363482e+12
Canada,8,33472,32863,568080,100953,16.97,227,10431000000,296.0,61.945430,1.319265e+12,1.468820e+12,1.552990e+12,1.374625e+12,1.617343e+12,1.793327e+12,1.828366e+12,1.846597e+12,1.805750e+12,1.556509e+12
South Korea,10,27655,27445,328488,61531,11.88,155,11007000000,221.0,2.279353,1.053217e+12,1.172614e+12,1.047339e+12,9.439419e+11,1.144067e+12,1.253223e+12,1.278428e+12,1.370795e+12,1.484318e+12,1.465773e+12
Brazil,14,21524,21236,183915,45172,8.54,127,12149000000,59.0,69.648030,1.107627e+12,1.397114e+12,1.695855e+12,1.666996e+12,2.208838e+12,2.616157e+12,2.465228e+12,2.472819e+12,2.456044e+12,1.802212e+12

## Answer the following questions in the context of only the top 15 countries by Scimagojr Rank (aka the DataFrame returned by `answer_one()`)

### Question 2
What is the average GDP over the last 10 years for each country? (exclude missing values from this calculation.)

*This function should return a Series named `avgGDP` with 15 countries and their average GDP sorted in descending order.*

In [18]:
def answer_two():
    # Get the DataFrame from the previous question
    Top15 = answer_one()
    
    # Select the columns for the last 10 years
    gdp_columns = ['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']
    avgGDP = Top15[gdp_columns].mean(axis=1)
    
    # Sort the result in descending order
    avgGDP = avgGDP.sort_values(ascending=False)
    
    return avgGDP

# Call the function to get the result
avgGDP = answer_two()
avgGDP

Country
Germany               3.523342e+12
Brazil                1.988889e+12
Russian Federation    1.666746e+12
Canada                1.616359e+12
India                 1.602352e+12
South Korea           1.221372e+12
dtype: float64

### Question 3
By how much had the GDP changed over the 10 year span for the country with the 6th largest average GDP?

*This function should return a single number.*

In [19]:
def answer_three():
    # Get the DataFrame from the previous question
    Top15 = answer_one()
    
    # Get the list of countries with the 6th largest average GDP
    sixth_largest_country = answer_two().index[5]
    
    # Retrieve the GDP values for the 6th largest country in 2006 and 2015
    gdp_2006 = Top15.loc[sixth_largest_country, '2006']
    gdp_2015 = Top15.loc[sixth_largest_country, '2015']
    
    # Calculate the GDP change
    gdp_change = gdp_2015 - gdp_2006
    
    return gdp_change

# Call the function to get the result
gdp_change = answer_three()
gdp_change

412556353125.1299

### Question 4

Create a new column that is the ratio of Self-Citations to Total Citations. 
What is the maximum value for this new column, and what country has the highest ratio?

*This function should return a tuple with the name of the country and the ratio.*

In [20]:
def answer_four():
    # Get the DataFrame from the first question
    Top15 = answer_one()
    
    # Calculate the ratio of Self-Citations to Total Citations and store it in a new column
    Top15['Citations Ratio'] = Top15['Self-citations'] / Top15['Citations']
    
    # Find the maximum value in the new column
    max_ratio = Top15['Citations Ratio'].max()
    
    # Find the country with the highest ratio
    country_with_highest_ratio = Top15[Top15['Citations Ratio'] == max_ratio].index[0]
    
    return (country_with_highest_ratio, max_ratio)

# Call the function to get the result
result = answer_four()
result

('Russian Federation', 0.4743311080060032)

### Question 5

Create a column that estimates the population using Energy Supply and Energy Supply per capita. 
What is the third most populous country according to this estimate?

*This function should return a single string value.*

In [21]:
def answer_five():
    # Get the DataFrame from the first question
    Top15 = answer_one()
    
    # Calculate the population estimate and store it in a new column
    Top15['Population Estimate'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    
    # Sort the DataFrame by the population estimate in descending order
    Top15 = Top15.sort_values(by='Population Estimate', ascending=False)
    
    # Select the third most populous country
    third_most_populous_country = Top15.index[2]
    
    return third_most_populous_country

# Call the function to get the result
result = answer_five()
result

'Russian Federation'

### Question 6
Create a column that estimates the number of citable documents per person. 
What is the correlation between the number of citable documents per capita and the energy supply per capita? Use the `.corr()` method, (Pearson's correlation).

*This function should return a single number.*

In [22]:
def answer_six():
    # Get the DataFrame from the first question
    Top15 = answer_one()
    
    # Calculate the number of citable documents per person and store it in a new column
    Top15['Citable documents per Capita'] = Top15['Citable documents'] / Top15['Energy Supply per Capita']
    
    # Calculate the correlation between the two columns
    correlation = Top15['Citable documents per Capita'].corr(Top15['Energy Supply per Capita'])
    
    return correlation

# Call the function to get the result
result = answer_six()
result

-0.7344696611964758

### Question 7
Use the following dictionary to group the Countries by Continent, then create a dateframe that displays the sample size (the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.

```python
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
```

*This function should return a DataFrame with index named Continent `['Asia', 'Australia', 'Europe', 'North America', 'South America']` and columns `['size', 'sum', 'mean', 'std']`*

In [26]:
def answer_seven():
    ContinentDict = {'China':'Asia', 
                'United States':'North America', 
                'Japan':'Asia', 
                'United Kingdom':'Europe', 
                'Russian Federation':'Europe', 
                'Canada':'North America', 
                'Germany':'Europe', 
                'India':'Asia',
                'France':'Europe', 
                'South Korea':'Asia', 
                'Italy':'Europe', 
                'Spain':'Europe', 
                'Iran':'Asia',
                'Australia':'Australia', 
                'Brazil':'South America'}
    
    # Get the DataFrame from the first question
    Top15 = answer_one()
    
    # Add a new column 'Continent' based on the mapping
    Top15['Continent'] = Top15.index.to_series().map(ContinentDict)
    
    # Group by continent and calculate sample size, sum, mean, and standard deviation
    grouped = Top15.groupby('Continent')['Energy Supply per Capita'].agg(['size', 'sum', 'mean', 'std'])
    
    return grouped

# Call the function to get the result
result = answer_seven()
result

               size    sum   mean         std
Continent
Asia              2  247.0  123.5  137.885822
Europe            2  379.0  189.5   34.648232
North America     1  296.0  296.0         NaN
South America     1   59.0   59.0         NaN